@model ReportesMVC.Models.Persona

@{
    ViewData["Title"] = "Inhabilitar Persona";
}

<h2>¿Estás seguro que deseas inhabilitar a esta persona?</h2>

<div>
    <h4>@Model.NOMBRE @Model.APPATERNO</h4>
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="IIDPERSONA" />
        <button type="submit" class="btn btn-danger">Inhabilitar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>